*{
    margin: 0%;
    padding: 0%;
    }
    
    body{
    background-color: lightgray;
    }
    .logo{
    margin-top: 1%;
    margin-left: 19%;
    margin-right: 0%;
    }
    .navbar{
    width: 800px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    }
    
    .nav-link{
    color: white;
        }
    a.navbar-brand{
    color: white;
        }
    #navbarNav{
    float: right;}
    
    .jumbotron{
        background-color: orange;
        width: 800px;
        height: 500px;
        display: flex;
        padding-left:20%;
        }
        .jumbotron p{
        color: black;
        font-family: Montserrat;
            }
    
        .jumbotron1{
        align-self: flex-end;
           }
        #welcome{
        color: black;
        }
        .btn{
        background-color: red;
        color: white;
        border: none;}
    
        .pozadina{
        width: 800px;
        height:800px;
        background-color:white;
        
        }
    .navbar2{
    width: 150px;
    bottom: 600px;
        }
   .pasus{
    width: 250px;
   }
.slike{
    width: 200px;
    padding-left: 10px;
}
.zaglavlje{
width: 800px;
height: 350px;
position: relative;
}